.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  background-color: blueviolet;
  color: white;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.4;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: 0.3s all;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(113, 24, 197);
}

.content section {
  margin-top: 1.5rem;
}
